*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
.idea/
gradlew.bat
gradlew
/gradle
/captures
.externalNativeBuild
.cxx
_360jiagu/jiagu_win/.cache/
_360jiagu/jiagu_win/tempAndroidManifest.xml
_360jiagu/jiagu_win/jiagu.db
_360jiagu/jiagu_mac/.cache/
_360jiagu/jiagu_mac/tempAndroidManifest.xml
_360jiagu/jiagu_mac/jiagu.db
_360jiagu/output/
buildSrc/auth_packaging/chanel/
buildSrc/auth_packaging/jiagu_complete/

