*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
.idea/
gradlew.bat
gradlew
/gradle
/captures
.externalNativeBuild
.cxx
_autoPack/jiagu/
_autoPack/output/
buildSrc/auth_packaging/chanel/
buildSrc/auth_packaging/jiagu_complete/

